! Compile xft: Turn on/off double-buffering for xft (default enabled).  On
! URxvt*buffered: boolean
! Select the fonts to be used. This is a comma separated list of font names
  URxvt*font: xft:tamsyn:size=9
  URxvt*boldFont: xft:tamsyn:size=9
  URxvt.letterSpace: 0
  URxvt*lineSpace: 1
  URxvt.geometry: 104x35

  URxvt*depth: 32
!  URxvt*inheritPixmap: true
!  URxvt*.transparent: true
!  URxvt shading: 0 to 99 darkens, 101 to 200 lightens
!  URxvt*.shading: 30

! Rofi
! Enabled modi
! rofi.modi:                           window,run,ssh
! ! Window opacity
 rofi.opacity:                        85
! ! Window width 8
 rofi.width:                          8                     
! ! Number of lines
 rofi.lines:                          15
! ! Number of columns
! rofi.columns:                        1
! ! Font to use
 rofi.font:                           tamsyn 9
! ! Use extended color scheme
 rofi.color-enabled:                  true
! ! Color scheme for normal row       bg      fg      bgalt   hlbg    hlfg
 rofi.color-normal:                   #000000,#ffffff,#121212,#452800,#ffa34c
! ! Color scheme for urgent row
 rofi.color-urgent:                   #330b0b,#ff5555,#330b0b,#cc0000,#000000
! ! Color scheme for active row
 rofi.color-active:                   #1a2135,#23d3ff,#1a2135,#268bd2,#ffffff
! ! Color scheme window
 rofi.color-window:                   #000000,#000000
! ! Border width
! rofi.bw:                             1
! ! Location on screen
 rofi.location:                       0
! ! Padding
! rofi.padding:                        5
! ! Y-offset relative to location
 rofi.yoffset:                        0
! ! X-offset relative to location
 rofi.xoffset:                        0
! ! Always show number of lines
! rofi.fixed-num-lines:                false
! ! Terminal to use
 rofi.terminal:                       termite
! ! Ssh client to use
 rofi.ssh-client:                     ssh
! ! Ssh command to execute
 rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
! ! Run command to execute
! rofi.run-command:                    {cmd}
! ! Command to get extra run targets
! rofi.run-list-command:               
! ! Run command to execute that runs in shell
! rofi.run-shell-command:              {terminal} -e {cmd}
! ! Disable history in run/ssh
 rofi.disable-history:                true
! ! Use levenshtein sorting
! rofi.levenshtein-sort:               false
! ! Set case-sensitivity
  rofi.case-sensitive:                 false
! ! Enable sidebar-mode
! rofi.sidebar-mode:                   false
! ! Set lazy filter limit
! rofi.lazy-filter-limit:              15000
! ! Row height (in chars)
! rofi.eh:                             1
! ! Enable auto select mode
 rofi.auto-select:                    false
! ! Parse hosts file for ssh mode
! rofi.parse-hosts:                    false
! ! Parse known_hosts file for ssh mode
! rofi.parse-known-hosts:              true
! ! Set the modi to combine in combi mode
! rofi.combi-modi:                     window,run
! ! Do a more fuzzy matching
! rofi.fuzzy:                          false
! ! Use glob matching
! rofi.glob:                           false
! ! Use regex matching
! rofi.regex:                          false
! ! Tokenize input string
! rofi.tokenize:                       true
! ! Monitor id to show on
! rofi.m:                              -1
! ! Margin between rows
! rofi.line-margin:                    2
! ! Pre-set filter
! rofi.filter:                         
! ! Separator style (none, dash, solid)
! rofi.separator-style:                dash
! ! Hide scroll-bar
! rofi.hide-scrollbar:                 false
! ! Show markup
! rofi.markup-rows:                    false
! ! Fullscreen
! rofi.fullscreen:                     false
! ! Fake transparency
! rofi.fake-transparency:              false
! ! DPI
! rofi.dpi:                            -1
! ! Threads to use for string matching
! rofi.threads:                        1
! ! Scrollbar width
 rofi.scrollbar-width:                0
! ! Pidfile location
! rofi.pid:                            /run/user/1000/rofi.pid
! ! Keybinding
! rofi.kb-primary-paste:               Control+Shift+v,Shift+Insert
! ! Keybinding
! rofi.kb-secondary-paste:             Control+v,Insert
! ! Keybinding
! rofi.kb-clear-line:                  Control+u
! ! Keybinding
! rofi.kb-move-front:                  Control+a
! ! Keybinding
! rofi.kb-move-end:                    Control+e
! ! Keybinding
! rofi.kb-move-word-back:              Alt+b
! ! Keybinding
! rofi.kb-move-word-forward:           Alt+f
! ! Keybinding
! rofi.kb-move-char-back:              Left,Control+b
! ! Keybinding
! rofi.kb-move-char-forward:           Right,Control+f
! ! Keybinding
  rofi.kb-remove-word-back:            Control+Alt+h,Control+w
! ! Keybinding
! rofi.kb-remove-word-forward:         Control+Alt+d
! ! Keybinding
! rofi.kb-remove-char-forward:         Delete,Control+d
! ! Keybinding
! rofi.kb-remove-char-back:            BackSpace,Control+h
! ! Keybinding
! rofi.kb-accept-entry:                Control+j,Control+m,Return,KP_Enter
! ! Keybinding
! rofi.kb-accept-custom:               Control+Return
! ! Keybinding
  rofi.kb-accept-entry-continue:       Tab
! ! Keybinding
! rofi.kb-mode-next:                   Shift+Right,Control+Tab
! ! Keybinding
! rofi.kb-mode-previous:               Shift+Left,Control+Shift+Tab
! ! Keybinding
! rofi.kb-toggle-case-sensitivity:     grave,dead_grave
! ! Keybinding
! rofi.kb-delete-entry:                Shift+Delete
! ! Keybinding
! rofi.kb-row-left:                    Control+Page_Up
! ! Keybinding
! rofi.kb-row-right:                   Control+Page_Down
! ! Keybinding
! rofi.kb-row-up:                      Up,Control+p,Shift+Tab
! ! Keybinding
! rofi.kb-row-down:                    Down,Control+n
! ! Keybinding
  rofi.kb-row-tab:                     Shift+Return
! ! Keybinding
  rofi.kb-page-prev:                   Control+b
! ! Keybinding
  rofi.kb-page-next:                   Control+f
! ! Keybinding
! rofi.kb-row-first:                   Home,KP_Home
! ! Keybinding
! rofi.kb-row-last:                    End,KP_End
! ! Keybinding
! rofi.kb-row-select:                  Control+space
! ! Keybinding
! rofi.kb-cancel:                      Escape,Control+bracketleft
! ! Keybinding
! rofi.kb-custom-1:                    Alt+1
! ! Keybinding
! rofi.kb-custom-2:                    Alt+2
! ! Keybinding
! rofi.kb-custom-3:                    Alt+3
! ! Keybinding
! rofi.kb-custom-4:                    Alt+4
! ! Keybinding
! rofi.kb-custom-5:                    Alt+5
! ! Keybinding
! rofi.kb-custom-6:                    Alt+6
! ! Keybinding
! rofi.kb-custom-7:                    Alt+7
! ! Keybinding
! rofi.kb-custom-8:                    Alt+8
! ! Keybinding
! rofi.kb-custom-9:                    Alt+9
! ! Keybinding
! rofi.kb-custom-10:                   Alt+0
! ! Keybinding
! rofi.kb-custom-11:                   Alt+Shift+1
! ! Keybinding
! rofi.kb-custom-12:                   Alt+Shift+2
! ! Keybinding
! rofi.kb-custom-13:                   Alt+Shift+3
! ! Keybinding
! rofi.kb-custom-14:                   Alt+Shift+4
! ! Keybinding
! rofi.kb-custom-15:                   Alt+Shift+5
! ! Keybinding
! rofi.kb-custom-16:                   Alt+Shift+6
! ! Keybinding
! rofi.kb-custom-18:                   Alt+Shift+8
! ! Keybinding
! rofi.kb-custom-17:                   Alt+Shift+7
! ! Keybinding
! rofi.kb-custom-19:                   Alt+Shift+9
! ! Keybinding
! rofi.kb-screenshot:                  Alt+Shift+S
! ! Keybinding
! rofi.kb-toggle-sort:                 Alt+grave
! ! Keybinding
! rofi.key-window: !Control+apostrophe           
! ! Keybinding
  rofi.key-run:  Control+slash                       
! ! Keybinding
! rofi.key-ssh:                        
!


*colorBD:       #00F3FF
!*cursorColor:   #0A9DFF
!*cursorColor2:  #000000
*highlightColor: #C33230
*highlightTextColor: #FFB066
 
!! special
!*.foreground:   #e6e1dc
!*.background:   #060606
!URxvt*background: [73]#000000
!
!! black
!!URxvt*.color0: [85]#000000
!*.color0:       #000000
!*.color8:       #877E7C
!
!! red
!*.color1:       #ff372b
!*.color9:       #ff4c42
!
!! green
!*.color2:       #99ff00
!*.color10:      #b7ff4a
!
!! yellow
!*.color3:       #ff7b00
!*.color11:      #ffa34c
!
!! blue
!*.color4:       #009FC7
!*.color12:      #00F3FF
!
!! magenta
!*.color5:       #ff4079
!*.color13:      #FF4D67
!
!! cyan
!*.color6:       #00ffe1
!*.color14:      #b3fff6
!
!! white
!*.color7:       #b6b6b6
!*.color15:      #f0f0f0
!
! Base16 Default
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
  URxvt*scrollColor: #000000
  URxvt*urgentOnBell: true
  URxvt*scrollstyle: plain
  URxvt*thickness: 5
  URxvt*scrollBar: false
  URxvt*scrollBar_right: true
  URxvt*scrollBar_floating: true
  URxvt*saveLines: 2000
  URxvt*internalBorder: 0
  URxvt*perl-ext-common: default,matcher,keyboard-select,vtwheel,clipboard,resize-font
  URxvt.url-launcher: /usr/bin/firefox
  URxvt.matcher.button: 1
  URxvt.keysym.Shift-M-u: perl:matcher:last
  URxvt.keysym.M-u: perl:matcher:list
  URxvt.keysym.M-Escape: perl:keyboard-select:activate
  URxvt*perl-ext: default,url-select
  URxvt.matcher.rend.0: Uline fg6
  URxvt*iso14755: false
  URxvt.keysym.Shift-Control-C: perl:clipboard:copy
  URxvt.keysym.Control-V: perl:clipboard:paste
  URxvt.clipboard.copycmd:  xclip -i -selection clipboard
  URxvt.clipboard.pastecmd: xclip -o -selection clipboard
  URxvt.resize-font.smaller: C-minus
  URxvt.resize-font.bigger: C-equal

xterm*faceName: Tamsyn:size=9:antialias=false
xterm*font: 7x13
xterm*boldfont: Tamsyn:size=9:antialias=false
